* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}

ul,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
/* UTILITIES */
.btn {
	padding: 10px 20px;
	background-color: #0061ff;
	text-decoration: none;
	color: #fff;
}
.midle-btn{
	display: inline-block;
	padding: 10px 35px;
}
.cont-head-foot {
	margin: 0 auto;
	max-width: 1270px;
}
.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
.wt-50 {
	width: 50%;
}
.mrb-45 {
	margin-bottom: 45px;
}
.mrb-20 {
	margin-bottom: 20px;
}
.mrx-60{
	margin: 0 60px 0 50px;
}
.mrtb-100-50 {
	margin: 150px 0 100px 0;
}

.mrb-30 {
	margin-bottom: 30px;
}
.mrb-120 {
	margin-bottom: 120px;
}
.mrt-50 {
	margin-top: 50px;
}
.mrt-150 {
	margin-top: 150px;
}

.title {
	font-size: 40px;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
/* BG COLORS */
.bg-green{
	background: #075028;
}
.bg-brown{
	background: #61082b;
}
.bg-lightblue{
	background: #0093ce;
}
.bg-lightred{
	background: #ff1c1c;
}
.bg-red{
	background: #d5001f;
}
.bg-bluegray{
	background: #b4d0e7;
}
.bg-yelow{
	background: #ffd830;
}
.bg-blue{
	background: #0d2481;
}
.hover-link:hover {
	cursor: pointer;
	border-bottom: 3px solid rgb(0, 0, 0);
}
.hover-btn:hover {
	background-color: #264f92;
	box-shadow: 3px 2px 10px -10px rgb(14, 14, 56);
}

/* HEADER */
.header{ 
	background-color: #fff;
	padding: 0 20px;
	position: fixed;
	width: 100%;
	z-index: 2;
	border-bottom: 2px solid #b4d0e7;
}
.header__left{
	display: inline-block;
	line-height: 80px;
}
.header__right{
	display: inline-block;
	margin: 0 0 0 -50px;
	text-align: end;
	line-height: 80px;

}
.header__row li {
	display: inline-block;
	margin-right: 40px;
	border-bottom: 3px solid rgb(255, 255, 255);
}

.header__row li:last-child {
	margin-right: 0px;
}
.hover-btn{
	transition: linear 0.1s;
}
.header__row li img {
	vertical-align: middle;
}
/* BANNER */
.banner {
	background: #b4d0e7;
	width: 100%;
	padding-top: 80px;
}

.banner__title {
	font-size: 70px;
	margin: 70px 0 40px 0;
}
.banner__txt {
	max-width: 370px;
}
.banner__main {
	width: 100%;

}
.banner__info {
	width: 33%;
	float: left;
}
.banner__img {
	width: 67%;
	float: right;
	margin-bottom: -75px;
}
.banner__img img{
	width: 100%;
	
}
.banner__button {
	margin: 30px 0 14px 0;
	display: inline-block;
}


.fa-arrow-down {
	animation: arow 1s infinite alternate;
	font-size: 40px;
	
}
@keyframes arow {
	0%   {transform: translatey(0);}
	100% {transform: translatey(-10px);}
}

/* COLUMNS */
.columns__title {
	margin: 200px 0 70px 0;
	font-size: 40px;

}

.colon {
	width: 29.933%;
	float: left;
	border: 2px solid #d0d0d3;
	padding-bottom: 120px;
}
.colon__inner {
	padding: 0 30px 0 30px;
}

.colon__header {
	border-bottom: 2px solid #d0d0d3;
	text-align: center;
	line-height: 40px;
}
.colon__top-title {
	margin-top: 30px;
	font-size: 25px;
}

.colon__price {
	font-weight: 700;
	line-height: 40px;
}
.colon__date {
	color: #667583;
}
.collon__special{
	margin: 50px 0 50px 0;
}
.collon__special li{
	padding: 0 0 20px 0 ;
}
.collon__special li:last-child{
	padding: 0 ;
}
.colon__buy {
	margin: 30px 0 30px 0;
}
.colon__buy a{
	color: #0061ff;
}
hr {
	max-width:50px ;
	border: transparent;
	border-bottom: 2px solid #dedee0;
}
.colon__bottom li {
	margin-bottom: 30px;
	margin-left: 20px;
	text-indent: -10px;

}
.colon__bottom li i{
	color: #0061ff;  /* FIX BEFORE */
}

/* TEAM */
.team__top {
	text-align: center;
	line-height: 43px;
	border: 2px solid #d0d0d3;
}
.team__bottom {
	padding: 30px 35px;
	border: 2px solid #d0d0d3;

}
.team__bottom-l{
	float: left;
	width: 70%;
}
.team__title{
	font-size: 25px;
}
.team__subtitle{
	font-size: 15px;
	margin: 20px 0 30px 0;
}
.team__txt {
	font-size: 14px;
}
.team__bottom-r{
	float: right;
	width: 30%;
	text-align: right;
}
.team__button {
	padding: 10px 55px ;
}
/* PARTNER */

.contact__img {
	float: left;
}
.contact__info {
	float: right;
	padding: 50px;
}
.contact__txt {
	line-height: 35px;
}
.contact__button {
	padding: 10px 20px;
	border: 1px solid black;
	text-decoration: none;
	position: relative;
	transition: 0.4s linear;
}
.contact__button:hover{

	background-color: #95afda;
	transition-delay: 0.6s;
}

.contact__button:hover .top-line{
	position: absolute;
	width: 50px;
	height: 6px;
	top: -1px;
	left: -20px;
	background-color: rgb(255, 255, 255);
	animation: line-top 1s forwards;
}

@keyframes line-top {
	0%   {transform: translatex(0);}
	100% {transform: translatex(200px);}
}
.contact__button:hover .bot-line{
	position: absolute;
	width: 50px;
	height: 6px;
	bottom: -1px;
	right: -20px;
	background-color: rgb(255, 255, 255);
	animation: line-bot 1s forwards;
}

@keyframes line-bot {
	0%   {transform: translatex(0);}
	100% {transform: translatex(-200px);}
}



/* INFO  */
.column {
	width: 29.933%;
	float: left;
	
}
.column img {
	width: 100%;
	
}
/* CLIENTS */
.clients__top-title {
	max-width: 565px;
	font-size: 40px;
	margin-top: 200px;
}
.clients__link{
	color: #0061ff;
}


.clients__block {
	float: left;
	width: 30%;
	background: lightgreen;
}
.clients__row {
	width: 100%;
	background: lightskyblue;
}
.clients__brand {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 200px;
	position: relative;

}
.clients__brand img {
	width: 50%;
	height: 50%;
	transform: translatey(50%); 
}
.clients__block-midle {
	float: left;
	width: 40%;
	background: #f5f5f5;
	padding: 25px 25px 97px 25px;
}
.clients__block-midle img{
	width: 25%;
	
}
.clients__block img{
	filter: invert(100);
}
.clients__brand:hover .clients__coise {
	display: block;
	
}
.clients__coise {
	background-color: rgb(255, 255, 255, 0.5);
	position: absolute; 
	z-index: 10;
	width: 100%;
	height: 100%;
	border:10px solid rgb(255, 255, 255, 0.7);
	display: none;
	top: 0;
	transition: linear 10s ;

}

/* BANNER */
.banner-bottom{
	background-color:#b4d0e7;
	padding: 120px 0;
}
.banner-bottom__title{
	float: left;
	width: 63.3%;
	max-width: 565px;
	font-size: 40px;
	color: #61082b;
} 
.banner-bottom__btn{
	float: right;
	width: 36.7%;
	line-height: 60px;
}
.banner-bottom__btn a{
	background: #fff;
	padding: 10px 65px;
	text-decoration: none;
}
.banner-bottom__btn a:hover{
	background-color: rgb(223, 223, 223);
	transition: 0.1s linear ;
}
.question {
	padding: 130px 0;
}
.question h3{
	font-size: 40px;
}
.question__row {
	border-top: 2px solid #d0d0d3;
	font-weight: 700;
	line-height: 80px;
}
.question__row:last-child {
	border-bottom: 2px solid #d0d0d3;
}

/* FOOTER */
.footer__column {
	float: left;
	width: 20%;
}
.footer {
	background-color: black;
	color: #fff
}
.footer 	li {
	line-height: 26px;
}
.footer 	h4 {
font-size: 20px;
margin-bottom: 30px;
}
.footer__line {
	width: 100px;
	padding: 50px;
}
.footer__inner {
	padding: 100px 0;
}